.form {
  width: 500px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.field {
  width: 330px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
}

.btn {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: orangered;
  color: rgb(255, 255, 255);
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 68, 0, 0.712);
  }
}